*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

.container__header , .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__header{
    margin: 35px auto;
}

 .logo__img{
    max-width: 20px; 
}

.nav__li{
    display: inline-block;
}

.nav__link{
    margin-right: 35px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
    text-decoration: none;
}

.nav__link-active{
    color: black;
}

.button-container__button{
    border: 1px solid #FB8F1D;
    width: 133px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FB8F1D;
    color: white;

}

.button-container__button-transparent{
    background: white;
    color: #FB8F1D;  
}

/* main */

.container__main{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.form__p{
    font-size: bold;
    font-size: 48px;
    line-height: 70px; 
    max-width: 247px;
}

.button-container__button-small{
    width: 92px;
    height: 5px;  
    background: black;
    border: none;
}

.button-container__button-green{
    width: 158px;
    height: 59px;
    background: #1ABE84;
    border-radius: 20px;
    border: none;
}

.input-holder__input{
    width: 412px;
    height: 59px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding-left: 30px;
    margin: 25px 0 ;
}

.photo__photo{
    position:relative;
    width: 261px;
    height: 332px;  
   
}

 .photo__photo::before{   
    content: "Lorem, ipsum";
    position: absolute;
    margin-top: 270px;
    margin-left: -20px; 
    width: 152px;
    height: 63px; 
    background: white;
    color: black; 
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    border-radius: 8px;
    text-align: center; 
    padding-top: 20px; 
   
}



