body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color:#F3C6BD ;
    padding: 30px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo>div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color:  #2B292D;;
}

.logo-regular{
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: rgba(43, 41, 45, 0,6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li>a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li>a:hover{
    font-weight: bold;
}

.header-nav>div{
    margin-left: 75px;
}

.button{
    border: none;
    background-color: #3040C4;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    background-color:white ;
    color:#3040C4 ;
    transition: 1s;
}

.base{
    display: flex;
    justify-content:center;
    background-color: #F4F5F7;
    padding: 77px 0;
    column-gap: 50px;
}

.h2{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.p{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logo-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

}

.logo-li{ 
    display: inline-block;
} 

.logo-li:hover{
    background: #3040C4;
    transition: 2s;
    cursor: pointer;
}


.container-ctg{
   background: #c5e4eb;
   display: grid;
   grid-template-rows: repeat(3,1fr);
   padding: 100px 0;
   text-align: center;
    
}


.p-bold{
    font-size: 22px;
    font-weight: bold;
    
}

.h2-bold{
    font-size: 56px;
    font-weight: bold;
    padding: 30px;
    
}

.p-normal{
    font-size: 22px;
    
}

.button-get{
    background-color:#3040C4 ;
    color: white;
    width: 160px;
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    margin: 50px 35px;
    cursor: pointer;
    
}

.button-learn{
    background-color: white;
    color: #000000;
    width: 160px;
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    height: 250px;
    /* justify-items: center;
    align-items: center; */
}

.item-ctg{
    background: #FFFFFF;
    color: #000000;
    border-radius: 8px;
    
}

.item-ctg:hover{
    background: #3040C4;
    color: #FFFFFF;
}

.p-item{
    font-size: 22px;
    font-weight: bold;
}

.text-IOON{
    text-align: center;
}

.p-IOON{
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
     color: #000000;
}

.p-IOON-norm{
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342; 
    margin-top: 25px;
    margin-bottom: 100px;
}

.photos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    justify-items: center;
}

.item:nth-child(3),.item:nth-child(4){
    grid-row: span 2;
}













