body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

  .header{ 
    background-color:#F3C6BD ;
} 

.header-sticky{
    position: sticky;
    top:0;
    z-index: 2;
}

.container__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    padding-top: 39px;
    padding-bottom: 76px;
}

.header-nav>div{
    margin-left: 75px;
}

 .logo{
    display: flex;
    align-items: center;
} 

.logo>div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color:  #2B292D;;
}

.logo-regular{
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: rgba(43, 41, 45, 0,6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav__li{
    display: inline-block;
}

.nav__li:not(:last-child){
    margin-right: 20px;
}

.nav__li>a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.nav__li>a:hover{
    font-weight: bold;
}


.button{
    border: none;
    background-color: #3040C4;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    background-color:white ;
    color:#3040C4 ;
    transition: 1s;
}

.header-wrapper{
    display: flex;
    position: relative;
    padding-bottom: 100px;
}

.header-wrapper>div:last-of-type{
    position: absolute;
    top: 0;
    right: 100px;
    z-index: 0;
}

.header-wrapper>div:first-of-type{
    max-width: 750px;
    z-index: 1;
}

.title{
    font-size: 80px;
    line-height: 78px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 34px;
}

.header-text{
    font-size: 24px;
    line-height: 34px;
    max-width: 465px;
    margin-bottom: 60px;

}

.button-white{
    background-color: #FFFFFF;
    color: #3040C4;
}

/* about */

.container-about{
    display: flex;
    justify-content:center;
    background-color: #F4F5F7;
    padding: 77px 0;
}

 .about__column{
    margin-left: 30px;
} 


.about__title{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.about__subtitle{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;
}


.media-container{
 max-width: 1140px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 50px 0;
 
}

.media-container>img{
   gap:105px;
}

/* .selector */

.container-selector{
    position: relative;
}  

.selector-img{
    position: absolute;
    left: 0;
    top: 200px;
}

.selector-info{
    max-width: 462px;
    position:absolute;
    left: 205px;
    top: 58px;
}

.selector-invision{
    position: absolute;
    right: 0;
    top: 0;
}

.selector-info__items{
    margin-top: 42px;
    margin-bottom: 20px;
}

.selector__pre-title-green{
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    font-weight: bold;
}

.selector__pre-title{
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    padding-left: 20px;
}

.selector__title{
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
}

.selector__text{
    font-size: 24px;
    line-height: 34px;
    margin-top: 30px;
}

.items-selector{
    padding: 20px ;
    cursor: pointer;
}

.items__icons{
    display: flex;
}

.items__text{
    font-size: 18px;
    line-height: 26px;
    display: none;
}

.items__hr{
    height: 3px;
}

.items-toggleColor{
    color: #3142C6;
}


/* manage */

.manage{
    background: #f8f3f2;
}

.manage-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.manage-logo{
    max-width: 520px;
    background: white;
    margin-right: 100px;
    margin-bottom: 116px;
}

.button-container__button-blue{
    width:519px; 
    height: 5px;
    background-color:#46b3f1;
    border: none;

}

.manage__p{
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding: 30px 30px;
     
}

.transform-img:hover{
    transform: scale(0.5,0.5);
    background-color: #46b3f1;
    transition-duration: 3s;
    transition-property: all;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* busy */

 .busy{
    padding: 100px 0;
} 

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-mini{
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 25px;
}

.text-mini__blu{
    color: #0189D1;;
}

.title-inner{
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    color: #2B292D;
    letter-spacing: -0.5px;
    max-width: 462px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px; 
    margin-bottom: 40px;
}

.text-mini__orange{
    color: #F1592B;
    margin-top: 100px;

}

/* info */

.info{
    padding: 40px 0 100px;
}

.info-flex{
    display: flex;
    justify-content: space-around;
}

.info-p{
    font-size: 18px;
    max-width: 360px;
    line-height: 26px;
    margin-bottom: 10px;
}

.info-p>span{
    font-weight: bold;
}

.info-link{
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: underline ;
    color:#3040C4;
}

.logo-container > img:hover{
    background: #3040C4;
    transition: 2s;
    cursor: pointer;
}

.categories{
   background: #c5e4eb;
   text-align: center; 
}

.container__column{
   display:grid;
    flex-direction: column; 
    justify-content: center;
   
}  

.categories__pretitle{
    font-size: 22px;
    font-weight: bold;
    padding-top: 50px;
}

.categories__title{
    font-size: 56px;
    font-weight: bold;
    padding: 30px; 
    max-width: 555px;
}

.categories__subtitle{
    font-size: 24px;
    line-height: 34px; 
    max-width: 555px;
}


.ctg-button{
      margin: 30px 0 100px;
}

.button-get{
    background-color:#3040C4 ;
    color: white;
    width: 160px;
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    
}

.button-learn{
    background-color: white;
    color: #000000;
    width: 160px;
    height: 48px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button-learn:hover{
    background-color: #46b3f1;
    color: #FFFFFF;
    transition-duration: 2s;

}

.container-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding-bottom: 110px;
    max-width: 1139px;
    
}

.icons-ctg{
    background: #FFFFFF;
    color: #000000;
    border-radius: 8px;
    width: 262px;
    height: 300px;
    align-items: center;
    
}

.icons-ctg:hover{
    background: #3040C4;
    color: #FFFFFF;
}

.p-icons{
    font-size: 22px;
    font-weight: bold;
}

/* .hiring */

.container-hiring{
    max-width: 750px ;
    text-align: center; 
    margin: 0 auto;
}

.hiring__title{
    font-size: 56px;
    line-height: 56px;
    font-weight: bold;
    margin-top: 106px;
}

.hiring__text{
    font-size: 24px;
    line-height: 34px; 
    margin-top: 20px;
  
} 

.hiring__button{
    width: 247px;
    height: 48px;
    padding: 17px 28px;
    box-sizing: border-box;
    border:none ;
    border-radius: 2px;
    background-color: #3040C4;
    color: #FFFFFF;
    font-size:18px ;
    line-height: 13px;
    margin-top: 45px;
}

.about-items>div{
    display: flex;
    justify-content: space-between;
}

.about-position{
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
}

.about-items{
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}

.about-items>p{
    margin-top: 20px;
    display: none;
}

.hiring-items{
    margin-top: 63px;
}

.active{
    transform: rotate(90deg);
    transition: 1s;
}

.toggleBg{
    background-color: #3141C5;
}

.toggleColor{
    color: white;
}


.info{
    text-align: center;
}

.info__p{
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
     color: #000000;
}

.info__text-norm{
   font-weight: normal;
    font-size: 24px;
    line-height: 34px; 
    text-align: center; 
    color: #172342; 
    margin-top: 25px;
    margin-bottom: 90px;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.grid-container > img{
    width: 100%;
    height: 100%;
}


.grid-container > img:nth-child(1){
    grid-area: one;
}

.grid-container > img:nth-child(2){
    grid-area: two;
}

.grid-container > img:nth-child(3){
    grid-area: three;
}

.grid-container > img:nth-child(4){
    grid-area: four;
}

.grid-container > img:nth-child(5){
    grid-area: five;
}

.grid-container > img:nth-child(6){
    grid-area: six;
}

.grid-container > img:nth-child(7){
    grid-area: seven;
}


.email{
    background: #F4F5F7;
}

.container-email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    line-height: 13px; 
    padding: 100px;
    margin-top: 91px;
}


.form_title{
    font-size: 40px;
   line-height: 40px;
   font-weight: bold;
   padding-bottom: 10px;
}

.form_subtitle{
    font-size: 22px;
    line-height: 32px;
    max-width: 555px;
    margin-bottom: 25px;

}

.form_subtitle-small{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.form-input{
    box-sizing: border-box;
    width: 385px;
    font-size: 18px;
    padding:13px 0 13px 12px;
    border: 1px solid rgba(43, 45, 41, 0.2);
    border-radius: 2px; 
    margin-right: 10px;
}

.form-input:focus{
    outline: none;
}

.form-input::placeholder{
    font-size: 18px;
    color: #2B292D;
}

.form_subtitle{
    margin-top: 10px;
}

.animation-img{
    animation-name:img;
    animation-duration:3s ;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes img{
    0%{
        top: 0;
    }
    25%{
        top:-25px;
    }

    50%{
        top:-50px;
    }

    75%{
        top:-25px;
    }

    100%{
        top: 0;
    }
}

.animation-img__email{
    animation-name:img__email;
}

@keyframes img__email{
    0%{
        left: 0;
    }

    25%{
        left: 25px;
    }

    50%{
        left: 50px;
    }

    75%{
        left: 25px;
    }

    100%{
        left: 0;
    }
}


/* footer */


.container-footer{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    max-width: 980px;
}

.logo__text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    width: 360px;
    height: 85px;
    margin: 25px 0;
}

.footer-img{
    margin-right: 10px;
}

.footer__h4{
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    
}

.footer__p{
    max-width: 265px ; 
    height: 185px; 
    font-size: 18px;
    line-height: 50px;
    margin-top: 18px;
    text-decoration: underline;
    color: rgba(43, 41, 45, 0.6);
   
}

.footer__columns_second{
    margin-right: 50px;

}

.footer-text{
    display:flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: 126px;
    
}

.footer__line{
    height: 1px;
    margin-top: 60px;
}

.container-underline{
    display: flex;
    justify-content: space-between;
    padding: 16px 0 50px;
}

.footer-nav{
    margin-left: 130px;
}

.footer .nav__li>a{
    color: rgba(43, 41, 45, 0.6);
}

.footer__img{
    margin-left: 20px;

}

.social-icons{
    margin-right: 130px;
}




@media (max-width: 1140px){
    .container{
       max-width: 950px;
    }

    .header{
        padding: 15px 0;
        display: none;
    }

    .container-about{
        display: block;
        padding-bottom: 30px;
    }

    .busy{
        padding: 80px 0;
    }

    .info-p{
        max-width: 320px;
    }

    .container-icons{
        display: grid;
        grid-template-areas: 
        "one two"
        "three four";
    }
}

@media ( max-width:1000px){
    .container{
        max-width: 850px;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-flex>div:not(:first-of-type){
         margin-bottom: 30px;
    }

    .manage-flex{
        flex-direction: column;
        text-align: center;
    }

    .manage-flex>div:not(:first-of-type){
        margin-bottom: 30px;
    }

    .grid-container{
        display: grid;
        grid-template-areas:
        "one three"
        "tow three"
        "four five"
        "four six";
        gap: 50px;
    }

    .grid-container > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .container-items{
        display: none;
    }


}

@media (max-width: 550px){
    .container{
        max-width: 450px;
    }

    .busy{
        padding: 50px 0;
    }

    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .busy img{
        width: 100%;
    }

    .info-p{
        max-width: 100%;
    }
}

@media(max-width :480px){
    .container{
        max-width:400px
    }

    
}















